.app{

}

.cat_menu {
  float:left;
  padding: 10px;
  margin-right: 10px;
  width: 50%;
  border: 2px solid red;
}

.click-cat-area{

}

.cat-area{
  float: right;
  position: absolute;
  height: 300px;
  width: 300px;
}

#cat-pic {
  float: right;
  height: 300px;
  width: 100%;
}

#cat1 {
  float: right;
  height: 300px;
  width: 300px;
}

.counter{
  float: left;
}
